html {
  scroll-behavior: smooth;
}
body {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
  min-width: 250px;
  letter-spacing: 0.03em;
}

main {
  min-height: calc(100vh - 100px);
  border-radius: 10px;
  margin-left: 48px;
}
.side-bar {
  width: 25px;
  position: fixed;
  top: 70px;
}
footer {
  font-size: 0.9em;
  margin-left: 48px;
}

#copiedMessage {
  position: fixed;
  display: table-cell;
  line-height: 100px;
  width: 224px;
  height: 100px;
  text-align: center;
  top: calc(50% - 50px);
  left: calc(50% - 112px);
  transition: all 1s;
}
.chapter-summary > p {
  margin-bottom: 1em;
  font-size: 0.8rem;
  color: var(--bs-secondary);
}

[data-bs-theme="light"] {
  color-scheme: light;
  --bs-primary-rgb: 135, 206, 235;         /* skyblue */
  --bs-link-color-rgb: 219, 112, 147;      /* pale violet red */
  --bs-link-hover-color-rgb: 199, 21, 133; /* deeper pink for contrast */
  --bs-secondary-rgb: 230, 240, 255;       /* soft blue background */
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-primary-rgb: 147, 112, 219; /* medium purple/blueish */
  --bs-link-color-rgb: 255, 160, 203; /* soft pink */
  --bs-link-hover-color-rgb: 255, 105, 180; /* stronger pink hover */
  --bs-secondary-rgb: 50, 50, 70; /* dark bluish background */
}

a {
  text-decoration: none;
}

.chapter-menu {
  display: flex;
  justify-content: space-between;
  
  p {
    margin: 0;
  }
}

.chapter-content {
  text-align: justify;
  /* text-indent: 2%; */
}